:root{
	--IronOre: hsl(16, 81.82%, 65.49%);
	--IronOre-type: #ffffff;
	--IronOre-lighter: hsl(16, 81.82%, 98%);
	--IronOre-light: hsl(16, 81.82%, 75.49%);
	--IronOre-dark: hsl(16, 81.82%, 55.489999999999995%);
	--IronOre-darker: hsl(16, 81.82%, 30.489999999999995%);
	--PolymerBar: hsl(320, 42.62%, 76.08%);
	--PolymerBar-type: var(--type-primary);
	--PolymerBar-lighter: hsl(320, 42.62%, 98%);
	--PolymerBar-light: hsl(320, 42.62%, 86.08%);
	--PolymerBar-dark: hsl(320, 42.62%, 66.08%);
	--PolymerBar-darker: hsl(320, 42.62%, 41.08%);
	--SulfurOre: hsl(35, 100%, 72.16%);
	--SulfurOre-type: var(--type-primary);
	--SulfurOre-lighter: hsl(35, 100%, 98%);
	--SulfurOre-light: hsl(35, 100%, 82.16%);
	--SulfurOre-dark: hsl(35, 100%, 62.16%);
	--SulfurOre-darker: hsl(35, 100%, 37.16%);
	--AluminiumOre: hsl(0, 0%, 76.86%);
	--AluminiumOre-type: var(--type-primary);
	--AluminiumOre-lighter: hsl(0, 0%, 98%);
	--AluminiumOre-light: hsl(0, 0%, 86.86%);
	--AluminiumOre-dark: hsl(0, 0%, 66.86%);
	--AluminiumOre-darker: hsl(0, 0%, 41.86%);
	--MetallicWaste: hsl(27, 84.11%, 70.39%);
	--MetallicWaste-type: var(--type-primary);
	--MetallicWaste-lighter: hsl(27, 84.11%, 98%);
	--MetallicWaste-light: hsl(27, 84.11%, 80.39%);
	--MetallicWaste-dark: hsl(27, 84.11%, 60.39%);
	--MetallicWaste-darker: hsl(27, 84.11%, 35.39%);
	--OrganicWaste: hsl(45, 28.03%, 43.33%);
	--OrganicWaste-type: #ffffff;
	--OrganicWaste-lighter: hsl(45, 28.03%, 78.33%);
	--OrganicWaste-light: hsl(45, 28.03%, 53.33%);
	--OrganicWaste-dark: hsl(45, 28.03%, 33.33%);
	--OrganicWaste-darker: hsl(45, 28.03%, 8.329999999999998%);
	--PlasticWaste: hsl(321, 12.16%, 50%);
	--PlasticWaste-type: #ffffff;
	--PlasticWaste-lighter: hsl(321, 12.16%, 85%);
	--PlasticWaste-light: hsl(321, 12.16%, 60%);
	--PlasticWaste-dark: hsl(321, 12.16%, 40%);
	--PlasticWaste-darker: hsl(321, 12.16%, 15%);
	--SteelBar: hsl(207, 26.47%, 73.33%);
	--SteelBar-type: #ffffff;
	--SteelBar-lighter: hsl(207, 26.47%, 98%);
	--SteelBar-light: hsl(207, 26.47%, 83.33%);
	--SteelBar-dark: hsl(207, 26.47%, 63.33%);
	--SteelBar-darker: hsl(207, 26.47%, 38.33%);
	--Concrete: hsl(57, 9.26%, 57.65%);
	--Concrete-type: #ffffff;
	--Concrete-lighter: hsl(57, 9.26%, 92.65%);
	--Concrete-light: hsl(57, 9.26%, 67.65%);
	--Concrete-dark: hsl(57, 9.26%, 47.65%);
	--Concrete-darker: hsl(57, 9.26%, 22.65%);
	--AluminiumBar: hsl(0, 0%, 96.08%);
	--AluminiumBar-type: var(--type-primary);
	--AluminiumBar-lighter: hsl(0, 0%, 98%);
	--AluminiumBar-light: hsl(0, 0%, 98%);
	--AluminiumBar-dark: hsl(0, 0%, 86.08%);
	--AluminiumBar-darker: hsl(0, 0%, 61.08%);
	--Carbon: hsl(0, 0%, 18.82%);
	--Carbon-type: #ffffff;
	--Carbon-lighter: hsl(0, 0%, 53.82%);
	--Carbon-light: hsl(0, 0%, 28.82%);
	--Carbon-dark: hsl(0, 0%, 8.82%);
	--Carbon-darker: hsl(0, 0%, 5%);
	--O2: hsl(204, 92.23%, 79.8%);
	--O2-type: var(--type-primary);
	--O2-lighter: hsl(204, 92.23%, 98%);
	--O2-light: hsl(204, 92.23%, 89.8%);
	--O2-dark: hsl(204, 92.23%, 69.8%);
	--O2-darker: hsl(204, 92.23%, 44.8%);
	--Nitrogen: hsl(36, 86.99%, 75.88%);
	--Nitrogen-type: var(--type-primary);
	--Nitrogen-lighter: hsl(36, 86.99%, 98%);
	--Nitrogen-light: hsl(36, 86.99%, 85.88%);
	--Nitrogen-dark: hsl(36, 86.99%, 65.88%);
	--Nitrogen-darker: hsl(36, 86.99%, 40.879999999999995%);
	--Water: hsl(217, 73.26%, 66.27%);
	--Water-type: #ffffff;
	--Water-lighter: hsl(217, 73.26%, 98%);
	--Water-light: hsl(217, 73.26%, 76.27%);
	--Water-dark: hsl(217, 73.26%, 56.269999999999996%);
	--Water-darker: hsl(217, 73.26%, 31.269999999999996%);
	--MechanicalParts: hsl(166, 33.33%, 74.12%);
	--MechanicalParts-type: var(--type-primary);
	--MechanicalParts-lighter: hsl(166, 33.33%, 98%);
	--MechanicalParts-light: hsl(166, 33.33%, 84.12%);
	--MechanicalParts-dark: hsl(166, 33.33%, 64.12%);
	--MechanicalParts-darker: hsl(166, 33.33%, 39.120000000000005%);
	--ReinforcedConcrete: hsl(52, 7.84%, 40%);
	--ReinforcedConcrete-type: #ffffff;
	--ReinforcedConcrete-lighter: hsl(52, 7.84%, 75%);
	--ReinforcedConcrete-light: hsl(52, 7.84%, 50%);
	--ReinforcedConcrete-dark: hsl(52, 7.84%, 30%);
	--ReinforcedConcrete-darker: hsl(52, 7.84%, 5%);
	--HighTechParts: hsl(350, 62.33%, 56.27%);
	--HighTechParts-type: #ffffff;
	--HighTechParts-lighter: hsl(350, 62.33%, 91.27000000000001%);
	--HighTechParts-light: hsl(350, 62.33%, 66.27000000000001%);
	--HighTechParts-dark: hsl(350, 62.33%, 46.27%);
	--HighTechParts-darker: hsl(350, 62.33%, 21.270000000000003%);
	--TemperedSteel: hsl(202, 13.31%, 48.43%);
	--TemperedSteel-type: #ffffff;
	--TemperedSteel-lighter: hsl(202, 13.31%, 83.43%);
	--TemperedSteel-light: hsl(202, 13.31%, 58.43%);
	--TemperedSteel-dark: hsl(202, 13.31%, 38.43%);
	--TemperedSteel-darker: hsl(202, 13.31%, 13.43%);
	--Composite: hsl(279, 65.03%, 71.96%);
	--Composite-type: #ffffff;
	--Composite-lighter: hsl(279, 65.03%, 98%);
	--Composite-light: hsl(279, 65.03%, 81.96%);
	--Composite-dark: hsl(279, 65.03%, 61.959999999999994%);
	--Composite-darker: hsl(279, 65.03%, 36.959999999999994%);
	--Compost: hsl(22, 35.29%, 33.33%);
	--Compost-type: #ffffff;
	--Compost-lighter: hsl(22, 35.29%, 68.33%);
	--Compost-light: hsl(22, 35.29%, 43.33%);
	--Compost-dark: hsl(22, 35.29%, 23.33%);
	--Compost-darker: hsl(22, 35.29%, 5%);
	--Food: hsl(132, 36.96%, 49.61%);
	--Food-type: #ffffff;
	--Food-lighter: hsl(132, 36.96%, 84.61%);
	--Food-light: hsl(132, 36.96%, 59.61%);
	--Food-dark: hsl(132, 36.96%, 39.61%);
	--Food-darker: hsl(132, 36.96%, 14.61%);
	--primary: hsl(223, 66.23%, 54.71%);
	--primary-type: #ffffff;
	--primary-lighter: hsl(223, 66.23%, 89.71000000000001%);
	--primary-light: hsl(223, 66.23%, 64.71000000000001%);
	--primary-dark: hsl(223, 66.23%, 44.71%);
	--primary-darker: hsl(223, 66.23%, 19.71%);
	--secondary: hsl(210, 7.48%, 58.04%);
	--secondary-type: #ffffff;
	--secondary-lighter: hsl(210, 7.48%, 93.03999999999999%);
	--secondary-light: hsl(210, 7.48%, 68.03999999999999%);
	--secondary-dark: hsl(210, 7.48%, 48.04%);
	--secondary-darker: hsl(210, 7.48%, 23.04%);
	--success: hsl(149, 53.91%, 49.8%);
	--success-type: #ffffff;
	--success-lighter: hsl(149, 53.91%, 84.8%);
	--success-light: hsl(149, 53.91%, 59.8%);
	--success-dark: hsl(149, 53.91%, 39.8%);
	--success-darker: hsl(149, 53.91%, 14.799999999999997%);
	--info: hsl(202, 100%, 54.31%);
	--info-type: #ffffff;
	--info-lighter: hsl(202, 100%, 89.31%);
	--info-light: hsl(202, 100%, 64.31%);
	--info-dark: hsl(202, 100%, 44.31%);
	--info-darker: hsl(202, 100%, 19.310000000000002%);
	--warning: hsl(42, 92.95%, 55.49%);
	--warning-type: var(--type-primary);
	--warning-lighter: hsl(42, 92.95%, 90.49000000000001%);
	--warning-light: hsl(42, 92.95%, 65.49000000000001%);
	--warning-dark: hsl(42, 92.95%, 45.49%);
	--warning-darker: hsl(42, 92.95%, 20.490000000000002%);
	--danger: hsl(346, 70.31%, 49.8%);
	--danger-type: #ffffff;
	--danger-lighter: hsl(346, 70.31%, 84.8%);
	--danger-light: hsl(346, 70.31%, 59.8%);
	--danger-dark: hsl(346, 70.31%, 39.8%);
	--danger-darker: hsl(346, 70.31%, 14.799999999999997%);
	--type-primary: hsl(210, 8.75%, 31.37%);
	--type-primary-type: #ffffff;
	--type-primary-lighter: hsl(210, 8.75%, 66.37%);
	--type-primary-light: hsl(210, 8.75%, 41.370000000000005%);
	--type-primary-dark: hsl(210, 8.75%, 21.37%);
	--type-primary-darker: hsl(210, 8.75%, 5%);
	--type-disabled: hsl(210, 13.95%, 83.14%);
	--type-disabled-type: var(--type-primary);
	--type-disabled-lighter: hsl(210, 13.95%, 98%);
	--type-disabled-light: hsl(210, 13.95%, 93.14%);
	--type-disabled-dark: hsl(210, 13.95%, 73.14%);
	--type-disabled-darker: hsl(210, 13.95%, 48.14%);
	--disabled: hsl(210, 15.79%, 92.55%);
	--disabled-type: var(--type-primary);
	--disabled-lighter: hsl(210, 15.79%, 98%);
	--disabled-light: hsl(210, 15.79%, 98%);
	--disabled-dark: hsl(210, 15.79%, 82.55%);
	--disabled-darker: hsl(210, 15.79%, 57.55%);
	--s1: calc(0.25rem * 1);
	--s2: calc(0.25rem * 2);
	--s3: calc(0.25rem * 3);
	--s4: calc(0.25rem * 4);
	--s5: calc(0.25rem * 5);
	--s6: calc(0.25rem * 6);
}